[user]
	name = Rob
	email = antonyrobertchristopher@gmail.com

[core]
	excludesfile = ~/.gitignore
  # Speed up commands involving untracked files such as `git status`.
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true

[url "https://github.com/"]
	insteadOf = git://github.com/

[init]
	defaultBranch = main

[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto
